<div class="relative flex flex-col my-4 bg-white shadow-sm border border-slate-200 rounded-lg w-full max-w-sm h-full hover:cursor-pointer"
    (click)="emitDetailsId.emit(product_id!)">
    <div class="relative p-2.5 aspect-[4/3] overflow-hidden rounded-xl bg-clip-border">
        <img [src]="image_url" alt="card-image" class="w-full h-full object-cover rounded-md" />
    </div>
    <div class="p-4 flex flex-col justify-between flex-1">
        <div class="mb-2 flex items-center justify-between">
            <p class="text-slate-800 text-lg sm:text-xl font-semibold">{{name}}</p>
            <p class="text-cyan-600 text-lg sm:text-xl font-semibold">{{(price| currency: 'USD')}}</p>
        </div>
        <p class="text-slate-600 text-sm sm:text-base leading-normal font-light">
            {{description}}
        </p>
        <button
            class="rounded-md w-full mt-6 bg-cyan-600 py-2 px-4 text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-cyan-700 active:bg-cyan-700 hover:bg-cyan-700 disabled:pointer-events-none disabled:opacity-50 hover:cursor-pointer"
            (click)="emitCartId.emit(product_id!); $event.stopPropagation();">
            Add to Cart
        </button>
    </div>
</div>