@if(mobile){
<div class="flex justify-end my-1">
    <button class="flex bg-sky-300 p-1 rounded-md cursor-pointer mx-2 hover:opacity-80" (click)="emitDelete.emit()">
        Clear cart
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 7l16 0" />
            <path d="M10 11l0 6" />
            <path d="M14 11l0 6" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
        </svg>
    </button>
</div>
<div class="flex flex-col justify-center mx-2">
    <h1 class="text-4xl text-center font-bold text-slate-800">Checkout</h1>
    <h2 class="text-2xl text-center font-bold text-slate-800 mb-4">Payment summary</h2>
    <div class="flex flex-col items-end w-1/1">
        <div class="flex flex-row justify-between w-1/1 text-lg">
            <p class="font-semibold">Subtotal: </p>
            <p>{{productsSum}}$</p>
        </div>
        <div class="flex flex-row justify-between w-1/1 text-lg">
            <p class="font-semibold">Shipping: </p>
            @if(productsSum! > 0){
            <p>{{(20 | currency: 'USD')}}</p>
            }@else {
            <p>{{(0 | currency: 'USD')}}</p>
            }

        </div>
        <div class="flex flex-row justify-between w-1/1 text-lg">
            <p class="font-semibold">Tax: </p>
            @if(productsSum! > 0){
            <p>{{((productsSum! + 20) * 0.23 | currency: 'USD') }}</p>
            }@else {
            <p>{{( 0 | currency: 'USD') }}</p>
            }
        </div>
        <div class="flex flex-row justify-between w-1/1 text-lg border-t border-slate-200">
            <p class="font-bold">Total: </p>
            @if(productsSum! > 0){
            <p>{{(productsSum! + 20 | currency: 'USD')}}</p>}
            @else {
            <p>{{( 0 | currency: 'USD') }}</p>
            }
        </div>
        <div class="flex flex-col justify-center w-1/1">
            <app-button class="flex justify-center" text="Checkout" (send)="checkout.emit()"
                [disabled]="!isLoggedIn"></app-button>
            @if(!isLoggedIn){
            <p>You have to login/regiter to be able to checkout!</p>
            }
        </div>
    </div>
</div>
}@else {
<div>
    <h1 class="text-2xl text-center font-bold text-slate-800 mb-4">Payment summary</h1>
    <div class="flex flex-col items-end w-1/1">
        <div class="flex flex-row justify-between w-1/1 text-lg">
            <p class="font-semibold">Subtotal: </p>
            <p>{{(productsSum| currency: 'USD')}}</p>
        </div>
        <div class="flex flex-row justify-between w-1/1 text-lg">
            <p class="font-semibold">Shipping: </p>
            @if(productsSum! > 0){
            <p>{{(20 | currency: 'USD')}}</p>
            }@else {
            <p>{{(0 | currency: 'USD')}}</p>
            }
        </div>
        <div class="flex flex-row justify-between w-1/1 text-lg">
            <p class="font-semibold">Tax: </p>
            @if(productsSum! > 0){
            <p>{{((productsSum! + 20) * 0.23 | currency: 'USD') }}</p>
            }@else {
            <p>{{( 0 | currency: 'USD') }}</p>
            }
        </div>
        <div class="flex flex-row justify-between w-1/1 text-lg border-t border-slate-200">
            <p class="font-bold">Total: </p>
            @if(productsSum! > 0){
            <p>{{(productsSum! + 20 | currency: 'USD')}}</p>}
            @else {
            <p>{{( 0 | currency: 'USD') }}</p>
            }
        </div>
        <div class="flex flex-col items-center w-1/1">
            <app-button text="Checkout" (send)="checkout.emit()" [disabled]="!isLoggedIn"></app-button>
            @if(!isLoggedIn){
            <p>You have to login/regiter to be able to checkout!</p>
            }
        </div>
    </div>
</div>
}