<div>
    <div class="flex justify-center mt-2">
        <div class="text-sm font-medium text-center flex justify-center text-gray-800 mb-2">
            <ul class="flex flex-wrap -mb-px">
                <li class="me-4 w-24" (click)="changeRoute('users')">
                    <p class="inline-block px-4 pb-2 border-b-2 rounded-t-lg hover:cursor-pointer"
                        [ngClass]="selectedRoute === 'users' ? 'border-sky-300' : ' border-gray-800' "
                        (click)="selectedRoute = 'users'">
                        Users</p>
                </li>
                <li class="me-4 w-24" (click)="changeRoute('products')">
                    <p class="inline-block px-2 pb-2 border-b-2  rounded-t-lg hover:cursor-pointer"
                        [ngClass]="selectedRoute === 'products' ? 'border-sky-300' : 'border-gray-800' "
                        (click)="selectedRoute = 'products'">
                        Produccts</p>
                </li>
                <li class="me-4 w-24" (click)="changeRoute('categories')">
                    <p class="inline-block px-2 pb-2 border-b-2  rounded-t-lg hover:cursor-pointer"
                        [ngClass]="selectedRoute === 'categories' ? 'border-sky-300' : 'border-gray-800' "
                        (click)="selectedRoute = 'categories'">
                        Category</p>
                </li>
            </ul>
        </div>
    </div>
    <div>
        @if(selectedRoute === 'users'){
        <app-admin-users></app-admin-users>
        }@else if(selectedRoute === 'products'){
        <app-admin-products></app-admin-products>
        }@else if(selectedRoute === 'categories'){
        <app-admin-categories></app-admin-categories>
        }
    </div>
</div>