<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                ID
            </th>
            <th scope="col" class="px-6 py-3">
                Email
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @for(admin of adminList; track admin.id){
        <tr class="odd:bg-slate-500 even:bg-slate-400 text-white">
            <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap dark:text-white">
                {{admin.id}}
            </th>
            <td class="px-6 py-4">
                {{admin.email}}
            </td>
            <td class="px-6 py-4">
                <button class="font-medium text-white underline hover:cursor-pointer">Edit</button>
            </td>
        </tr>
        }
    </tbody>
</table>