<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 px-4 sm:px-20 md:px-36">
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
    <app-product-card class="flex justify-center"></app-product-card>
</div>