<div class="min-h-screen flex flex-col">
    @if(showNavbar()){
    <app-navbar (emitCart)="navigateTo('/cart')" (emitAuth)="handleAuth($event)" (emitHome)="navigateTo('/')"
        (emitAdmin)="navigateTo('/admin')" [cartCount]="cartCount()" [isLoggedIn]="isLoggedIn()"
        [isAdmin]="isAdmin()"></app-navbar>
    }
    <main class="flex-grow bg-white text-black dark:bg-gray-300 dark:text-white">
        <router-outlet></router-outlet>
        <app-popup></app-popup>
    </main>

    @if(showNavbar()){
    <app-footer></app-footer>
    }
</div>