<app-auth-layout>
    <div auth-heading>
        <h2 class="text-4xl font-bold">Welcome to syf!</h2>
        <p class="text-sm">
            Already registered?
            <span class="text-sky-300 hover:cursor-pointer" (click)="navigateTo('/login')">Login now</span>
        </p>
    </div>

    <form class="flex flex-col" auth-form [formGroup]="registerForm">
        <input type="email" name="email" placeholder="Email" formControlName="email" autocomplete="email"
            class="p-2 m-2 border-1 w-72 rounded-md text-sm border-gray-500 placeholder-gray-600 focus:border-sky-500 focus:outline focus:outline-sky-500" />
        @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
        @if(registerForm.get('email')?.errors?.['required']){
        <span class="text-xs text-red-500">Email is required</span>
        }
        @if(registerForm.get('email')?.errors?.['email']){
        <span class="text-xs text-red-500">Invalid format</span>
        }
        }
        <input type="password" name="password" placeholder="Password" formControlName="password"
            autocomplete="new-password"
            class="p-2 m-2 border-1 w-72 rounded-md text-sm border-gray-500 placeholder-gray-600 focus:border-sky-500 focus:outline focus:outline-sky-500" />
        @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
        @if(registerForm.get('password')?.errors?.['required']){
        <span class="text-xs text-red-500">Password is required</span>
        }
        @if(registerForm.get('password')?.errors?.['pattern']){
        <span class="text-xs text-red-500">Password must contain: <br /> uppercase, lowercase, number, special character
            <br /> and
            must be at least 8 characters</span>
        }
        }
        <input type="password" name="rePassword" placeholder="Retype password" formControlName="rePassword"
            autocomplete="new-password"
            class="p-2 m-2 border-1 w-72 rounded-md text-sm border-gray-500 placeholder-gray-600 focus:border-sky-500 focus:outline focus:outline-sky-500" />
        @if(registerForm.errors?.['PasswordNoMatch'] && registerForm.get('rePassword')?.touched) {
        <span class="text-xs text-red-500">Passwords do not match.</span>
        }
        <app-button text="Register" (send)="register()"
            [disabled]="registerForm.invalid || registerForm.pristine"></app-button>
    </form>
</app-auth-layout>