<div class="w-full h-full flex flex-col md:flex-row bg-white text-black dark:bg-gray-300 dark:text-white">
    <div class="md:hidden">
        @if(productsCount.length > 0){
        <app-checkout [mobile]="true" [productsSum]="productsSum" (checkout)="goToCheckout()"></app-checkout>
        }
    </div>
    <div class="md:w-3/4 w-4/4">
        <h1 class="text-4xl text-center font-bold text-slate-800  hidden justify-center md:flex">
            Checkout</h1>
        @if(productsCount.length === 0){
        <p class="text-xl text-center text-gray-500 font-light">Add something to your cart!</p>
        }
        @if(!loading){
        @for(product of productsCount; track $index){
        <app-cart-card [product]="product" (emitId)="openDetails($event)"></app-cart-card>
        }
        }@else {
        @for(element of [1,2,3]; track $index){
        <app-cart-card-skeleton></app-cart-card-skeleton>
        }
        }
    </div>
    <div class="w-1/4 hidden md:flex flex-col mx-4">
        @if(productsCount.length > 0){
        <app-checkout [mobile]="false" [productsSum]="productsSum" (checkout)="goToCheckout()"></app-checkout>
        }
    </div>
</div>