<div class="flex justify-between bg-sky-200/60">
    <div>
        <img class="w-20" src="../../../assets/logo-rmbg.png" />
    </div>
    <div class="flex">
        <div class="flex items-center justify-center text-white hover:cursor-pointer">
            <div class="relative w-fit">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                </svg>
                <div
                    class="absolute -top-2 -right-2 w-5 h-5 bg-sky-500 text-white text-xs rounded-full flex items-center justify-center">
                    {{ cartCount }}
                </div>
            </div>

            <div>
                <div class="flex ml-6 hover:cursor-pointer hover:underline">
                    @if(isLoggedIn){
                    <p>Logout</p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-power">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 6a7.75 7.75 0 1 0 10 0" />
                        <path d="M12 4l0 8" />
                    </svg>
                    }@else {
                    <p>Login or register</p>
                    }
                </div>
            </div>
        </div>

    </div>
</div>