<div class="flex h-20 justify-between bg-sky-200/60 text-white dark:bg-sky-500 dark:text-black">
    <div>
        <img class="w-20 hover:cursor-pointer" src="../../../assets/logo-rmbg.png" (click)="emitHome.emit(true)" />
    </div>
    <div class="flex">
        <div class="flex items-center justify-center text-white dark:text-black">
            <div class="relative w-fit hover:cursor-pointer" (click)="emitCart.emit('true')">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                </svg>
                <div
                    class="absolute -top-2 -right-2 w-5 h-5 bg-sky-500 dark:bg-cyan-600 text-white text-xs rounded-full flex items-center justify-center">
                    {{ cartCount }}
                </div>
            </div>

            <div>
                <div class="flex ml-6 pr-2 hover:cursor-pointer hover:underline">
                    @if(isLoggedIn){
                    <div class="flex" (click)="emitAuth.emit('logout')">
                        <p>Logout</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M5 12l6 6" />
                            <path d="M5 12l6 -6" />
                        </svg>
                    </div>
                    }@else {
                    <div class="flex" (click)="emitAuth.emit('login')">
                        <p>Login</p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-login-2">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>