<div class="mx-2 md:mx-24 my-2">
    <h2 class="text-center text-xl text-gray-500 mb-2">Manage products</h2>
    <div class="text-sm font-medium text-center flex justify-center text-gray-800 mb-2">
        <ul class="flex flex-wrap -mb-px">
            <li class="me-2  w-22">
                <p class="inline-block px-4 pb-2 border-b-2 rounded-t-lg hover:cursor-pointer"
                    [ngClass]="selectedOption === 'list' ? 'border-sky-300' : ' border-gray-800' "
                    (click)="selectedOption = 'list'">
                    List</p>
            </li>
            <li class="me-2  w-22">
                <p class="inline-block px-4 pb-2 border-b-2  rounded-t-lg hover:cursor-pointer"
                    [ngClass]="selectedOption === 'new' ? 'border-sky-300' : 'border-gray-800' "
                    (click)="selectedOption = 'new'">
                    New</p>
            </li>
        </ul>
    </div>
    <div class="relative overflow-x-auto sm:rounded-lg">
        @if(selectedOption === 'list'){
        <app-admin-products-table [products]="showProducts"></app-admin-products-table>
        }@else {
        <app-admin-products-form [form]="productForm" (fileSelected)="onFileSelected($event)"
            (formSubmit)="onSubmit($event)"></app-admin-products-form>
        }
    </div>
    @if(selectedOption === 'list'){
    <app-pagination [elementsCount]="products!.length" [currentPage]="currentPage" [maxPage]="maxPages"
        [startIndex]="startIndex" [endIndex]="endIndex" (changePage)="changePage($event)"></app-pagination>
    }
</div>