<section class="flex bg-white w-full ">
    <div class="mx-auto w-screen max-w-screen-xl px-4 sm:px-6 lg:px-8 py-4 md:py-6">
        <div class="flex justify-center h-32">
            <img class="w-32" src="../../../assets/logo-rmbg.png" />
        </div>
        <div class="mx-auto max-w-prose text-center">
            <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
                Best price to
                <strong class="text-sky-500"> quality </strong>
                sport products
            </h1>

            <p class="mt-4 text-base text-pretty text-gray-500 sm:text-lg/relaxed">
                Modern sport shop offering top-quality gear, apparel, and accessories. Perfect for athletes, fitness
                lovers, and outdoor adventurers.
            </p>
        </div>
    </div>
</section>